.container {
	width: 1170px;
	margin: 0 auto;
}

/*начало header*/

.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	border-style: solid;
	border-width: 1px;
	border-color: #ececec;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

.left-side-header {
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.right-side-header {
	display: flex;
	margin-right: 15px;
	align-items: flex-end;
}

.left-side-header__title {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 27;
	line-height: 32px;
	margin-left: 13px;
}

.left-side-header__title_pink-letter {
	color: #f16d7f;
	font-weight: 900;
}

.left-side-header__browse-button {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e6e6e6;
	box-sizing: border-box;
	background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
	width: 87px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 37px;
}

.lef-sider-header__browse-text {
	font-family: Lato;
	color: #222222;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.left-side-header__browse-triangle {
	background-image: url(images/pngtriangle.png);
	width: 9px;
	height: 6px;
	background-position: center;
	margin-left: 8px;
}

.left-side-header__allform {
	display: flex;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #e6e6e6;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 317px;
	height: 38px;
	justify-content: space-between;
}

.left-side-header__lupa {
	height: 36px;
	width: 47px;
	border-left: 1px solid #e6e6e6;
	background-image: url(images/lupa2.png);
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

.left-side-header__input-text {
	height: 36px;
	width: 270px;
	box-sizing: border-box;
	border-style: none;
	padding-left: 15px;
}

.left-side-header__input-text[type="text"]::placeholder {
	font-family: Lato;
	color: #a4a4a4;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
}

.right-side-header__cart {
	background-image: url(images/cart-image.svg);
	background-position: center;
	background-repeat: no-repeat;
	height: 32px;
	width: 29px;
	margin-right: 26px;
}

.right-side-header__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f16d7f;
	width: 130px;
	height: 38px;
}

.right-side-header__button-text {
	font-family: Lato;
	color: #ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 32px;
}

.right-side-header__button-triangle {
	background-image: url(images/pngtriangle-white.png);
	width: 9px;
	height: 6px;
	background-position: center;
	margin-left: 8px;
}

.right-side-header a {
	text-decoration: none;
}

/*конец header*/

/*начало nav*/

.nav {
	height: 51px;
}


.nav__list {
	display: flex;
	width: 680px;
	justify-content: space-around;
	height: 51px;
	padding: 0;
	align-items: center;
	margin: 0 auto;
}

.nav__item {
	list-style-type: none;
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	margin-top: 13px;
}

.nav__link {
	text-decoration: none;
	color: black;
	height: 100%;
	border-radius: 10px;
	padding-left: 8px;
	padding-right: 8px;
}

.nav__link:hover {
	box-shadow: 0 5px 30px -10px black;
}

.nav__link:active {
	opacity: 0.5;
}

.slider {
	height: 614px;
	margin: 0 auto;
	width: 100%;
	background-image: url(images/slider2.jpg);
	background-position: right;
	background-repeat: no-repeat;
	margin-right: 5px;
	position: relative;
}

.slider-container {
	background-color: #e8e8e8;
}

.content {
	background-color: #e8e8e8;
}

.slider__title {
	font-family: Lato;
	color: #222222;
	font-size: 60px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 37px;
}

.slider__slogan {
	font-family: Lato;
	color: #222222;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	line-height: 31px;
	margin-top: 12px;
}

.slider_text-decoration {
	color: #f16d7f;
}

.slider__text {
	border-left: 12px solid #f16d7f;
	box-sizing: border-box;
	padding-left: 12px;
	position: absolute;
	top: 225px;

}

.offer {
	display: flex;
	height: 823px;
	width: 1140px;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 98px;
}

.offer__man {
	height: 543px;
	width: 560px;
	background-image: url(images/man-2.jpg);
	position: relative;
}

.offer__women {
	height: 543px;
	width: 560px;
	background-image: url(images/woman.jpg);
	margin-top: 20px;
	position: relative;
}

.offer__kids {
	height: 260px;
	width: 560px;
	margin-top: 20px;
	background-image: url(images/baby.jpg);
	position: relative;
}

.offer__accesories {
	height: 260px;
	width: 560px;
	background-image: url(images/pram.jpg);
	position: relative;

}

.block {
	height: 100px;
	width: 1140px;
	border: 1px solid black;
	margin: 0 auto;
}

.offer__title-man {
	width: 175px;
	height: 82px;
	position: absolute;
	top: 26px;
	background-color: white;
}

.offer__title-black {
	margin: 0px;
	padding 0px;
	font-family: Lato;
	color: #222222;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 16px;
	margin-left: 19px;

}

.offer__title-pink {
	margin: 0px;
	padding 0px;
	font-family: Lato;
	color: #f16d7f;
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 19px;
}

.offer__title-kids {
	width: 180px;
	height: 82px;
	background-color: white;
	position: absolute;
	top: 25px;

}

.offer__title-accesories {
	width: 225px;
	height: 82px;
	background-color: white;
	position: absolute;
	top: 25px;
}

.offer__title-women {
	height: 82px;
	width: 162px;
	position: absolute;
	top: 26px;
	background-color: white;
}

.offer__link {
	display: block;
}

.offer__link:hover {
	box-shadow: 0 5px 20px -5px black;
}

.offer__link:active {
	opacity: 0.5;
}


.featured-items__title {
	height: 51px;
	width: 348px;
	margin: 0 auto;
	padding: 0;
	margin-top: 100px;

}

.featured-items__title-black {
	font-family: Lato;
	color: #222222;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
}

.featured-items__title-grey {
	font-family: Lato;
	color: #9f9f9f;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
	display: block;
	margin-top: 16px;
}

.featured-items__flex {
	height: 765px;
	width: 1139px;
	margin: 0 auto;
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	border: 1px solid black;
	box-sizing: border-box;
}

.featured-items__item {
	height: 364px;
	width: 263px;
	background-color: aqua;
}
